
/*Start  Main Rules */

body {
    background-color:  #F4f4f4;
}

/*End  Main Rules */

/* Start login Form  */

.login {
    width:300px;
    margin: 100px auto;
}
.login h4 {
    color: #888
}
.login input {
    margin-bottom: 10px;
}
.login .form-control {
    background-color: #EAEAEA;
}
.login .btn {
    background-color: #008dde;
}
/* End login Form  */